#container
{
    font-family: roboto;
    display: inline-grid;
    width: 1600px;
    height: 1300px;
    grid-template: 1fr / 1fr 4fr;
    background-color: aqua;
}


/* Main Right */
#main-right
{
    display: grid;
    grid-template: 195px 1fr / 1fr;
}

/* SIDEBAR CSS */

#sidebar
{
    background-color: #db2777;
    grid-row: 1 / 3;
    padding: 20px;
    padding-top: 0; 

    /* Grid Properties */
    display: grid;
    grid-template: 1fr 6fr 3fr 10fr / 1fr;
    row-gap: 20px;
}

#sidebar #dash-logo
{
    color: white;
    fill: white;

    /* Grid Properties */
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items: center;
    gap: 10px;
}

#sidebar #sidebar-section-1
{
    color: white;
    fill: white;
    font-size: 15px;

    /* Grid Properties */
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    align-items: end;
}

#sidebar #sidebar-section-1 h2
{
    

    /* Grid Properties */
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items: end;
}

#sidebar #sidebar-section-2
{
    color: white;
    fill: white;
    font-size: 15px;
    padding-top: 10px;

    /* Grid Properties */
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    align-items: end;
}

#sidebar #sidebar-section-2 h2
{
    /* Grid Properties */
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items: end;
}

#main-box
{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 80px;

    /* Grid Properties */
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 20px;
}

#main-container
{
    border: 1px #db2777 solid;
    grid-row: 1 / 3;

    /* Grid Properties */
    display: grid;
    grid-template: 1fr 15fr / 1fr;
}

#main-container #project-container
{
    border: 1px #27db6c solid;
    padding: 10px;

    /* Grid Properties */
    display: grid;
    grid-template: 4fr 4fr 4fr / 1fr 1fr;
    column-gap: 20px;
    align-items: start;
}

#main-container #project-container h2
{
    border: 1px #2799db solid;
    grid-column: 1 / 3;
    height: 50%;
    margin-top: 25px;
}


#main-container #project-container .project
{
    border-radius: 10px;
    border: 1px #b127db solid;
    height: 80%;

    /* Grid Properties */
    display: grid;
    grid-template: 3fr 1fr / 1fr 20fr;
}

#main-container #project-container .project .color-strip
{
    border: 1px orange solid;
    grid-row: 1 / 3;
}

#main-container #project-container .project .project-header-description
{
    border: 1px rgb(165, 4, 117) solid;
}

#main-container #project-container .project .project-icons
{
    border: 1px rgb(67, 224, 28) solid;
    padding-right: 10px;

    /* Flex Properties */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

#main-container #project-container .project .project-icons img
{

}


#a-container
{
    border: 2px #2799db solid;

    /* Grid Properties */
    display: grid;
}

#trend-container
{
    border: 1px #db2777 solid;

    /* Grid Properties */
    display: grid;
}

/* TOPBAR CSS */

#top-bar
{
    background-color: aliceblue;

    /* Grid Properties */
    display: grid;
    grid-template: 1fr 4fr / 1fr;
}

#top-bar .topbar-section-1
{
    padding-top: 1%;

    /* Grid Properties */
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

#top-bar .topbar-section-1 .searchbar
{
    

    /* Grid Properties */
    display: grid;
    grid-template: 1fr 5fr 1fr / 4fr 90fr 5fr;
    align-items: center;
    column-gap: 20px;

}

#top-bar .topbar-section-1 .searchbar input
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    background-color: rgb(223, 234, 248);
    border-style: none;
    border-radius: 15px;
    height: 80%;

    padding: 10px;
}

#top-bar .topbar-section-1 .searchbar img
{
    grid-row: 2 / 3;
    margin-left: 70%;
}

#top-bar .topbar-section-1 .noti
{

    /* Grid Properties */
    display: grid;
    grid-template: 1fr / 1fr 3fr 5fr;
    align-items: center;
    justify-items: center;
}

#top-bar .topbar-section-1 .noti p
{
    font-weight: bold;
    padding-right: 40%;
}

#top-bar .topbar-section-1 .noti img
{
    border-radius: 50px;
}

#top-bar .topbar-section-2
{
    /* Grid Properties */
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    
    align-items: center;
    justify-items: start;

    padding-left: 40px;


}

#top-bar .topbar-section-2 .picture-name
{
    /* Grid Properties */
    display: grid;
    grid-template: 110px / 1fr 5fr;

    align-items: center;

    column-gap: 20px;
}

#top-bar .topbar-section-2 .picture-name img
{
    border-radius: 50px;
}

#top-bar .topbar-section-2 .picture-name .caption-name
{
    /* Grid Properties */
    display: grid;
    grid-template: 15px 50px / 1fr;
    

    justify-items: start;
    align-items: center;
}

#top-bar .topbar-section-2 #button-group
{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;

    padding-right: 100px;

    gap: 40px;
}

#top-bar .topbar-section-2 #button-group button
{
    color: white;
    background-color: #db2777;
    border-style: none;
    border-radius: 45px;
    width: 120px;
    font-weight: bold;

    font-size: 16px;
    padding: 15px;
}

/* MAIN BOX CSS */

#main-box
{
    background-color: rgb(218, 226, 231);
}

